extends layout

block content
  h1= title
  a(class="btn btn-success" href="/clock/create") Create
  div.container-fluid
    div.row
      each clock, index in results
        div.col-sm-4.mb-3
          div.card
            div.card-body(onclick=`buy(${index})`)
              h5.card-title #{clock.name}
              p.card-text Price: #{clock.price}
              p.card-text Color: #{clock.color}
              - let updateDestination = `/clock/update?id=${clock._id}`
              a.btn.btn-primary(href=updateDestination) Update
              a.btn.btn-danger(href=`/clock/delete?id=${clock._id}`) Delete
              a.btn.btn-dark(href=`/clock/detail?id=${clock._id}`) Detail
  script.
    function buy(index) {
      alert(`You purchased Item ${index + 1}`);
    }
