extends layout

block content
  h1= title
  - var results= [{ name:"lighthouseclock", price:2500, color: "Blue"},{ name:"Dwarfclock", price:3000, color: "Red"},{ name:"Bracketclock", price:4800, color:"Violet"}]   
   div.container-fluid
    div.row 
     each clock,index in results
      div.col-sm-2(onclick=`buy(${index})`) #{clock.name}
      div.col-sm-2(onclick=`buy(${index})`) #{clock.price}
      div.col-sm-2(onclick=`buy(${index})`) #{clock.color}
      br
      hr
    

    script. 
       function buy(index)
       {
        alert(`you purchased Item ${index+1}`)
       }